{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
    <div><a href="..">&lt;&lt; back </a></div>
{% endblock %}

{% block title %}📖 {{ book.title }}{% endblock %}

{% block body %}
    <form method="POST" name="?action=edit&slug={{ book.slug }}" id="edit">
        <div>
            <label>
                <input value="{{ book.title }}" type="text" name="title" placeholder="title" autocomplete="off"/>
            </label>
        </div>
        <div>
            <label>
                <input value="{{ book.author }}" type="text" name="author" placeholder="author" autocomplete="off"/>
            </label>
        </div>
        <div>
            <label>
                <select name="type">
                    <option value="">—Type—</option>
                    {% for type in types %}
                        <option value="{{ type }}" {{ book.type == type ? 'selected' : '' }}
                                autocomplete="off"> {{ type }} </option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                <select name="note">
                    <option value="">
                            —Note—
                    </option>
                    {% for key, note in notes %}
                        <option value="{{ key }}" {{ book.note_id is not null and book.note_id == key ? 'selected' : '' }}
                                autocomplete="off">{{ key }} - {{ note }} </option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div>
            <label>
                <input value="{{ book.finished_at ? book.finished_at|date('Y-m-d') : '' }}" type="date" name="finished_at" placeholder="date"/>
            </label>
        </div>
        <div>
            <label>
                <textarea name="summary" rows="20">{{ book.summary }}</textarea>
            </label>
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
        <div>
            <label>
                Abandonned
                <input type="checkbox" name="abandonned_at" value="1" {{ book.abandonned_at ? 'checked' : '' }}/>
            </label>
        </div>
        <div>
            <label>
                Private book
                <input type="checkbox" name="private_book" value="1" {{ book.private_book ? 'checked' : '' }}/>
            </label>
        </div>
        <div>
            <label>
                Private description
                <input type="checkbox" name="private_summary" value="1" {{ book.private_summary ? 'checked' : '' }}/>
            </label>
        </div>
        <div>
            <button class="delete"><a href="?action=delete&slug={{ book.slug }}">Delete</a></button>
        </div>
    </form>
{% endblock %}
