{% extends 'base.html.twig' %}

{% block title %}List of read books 📚{% endblock %}

{% block nav %}
    {% if not authenticated %}<a href="?action=login">Login</a>{% endif %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>title</td>
            <td>author</td>
            <td>type</td>
            <td>note</td>
            <td>finished date</td>
            <td></td>
        </tr>

        {% if authenticated %}
            {% include 'new.html.twig' %}
        {% endif %}

        {% for book in books %}
            <tr>
                <td>
                    <strong>{{ book.title }}</strong>
                </td>

                <td>
                    <strong>{{ book.author }}</strong>
                </td>

                <td>{{ book.type }}</td>
                <td>{{ book.note }}</td>
                <td>{{ book.finished_at|date('Y⋅m⋅d') }}</td>
                <td>{% if authenticated %}<a href="?slug={{ book.slug }}" class="edit">🖍️</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
