{% extends 'base.html.twig' %}

{% block title %}List of read books 📚{% endblock %}

{% block nav %}
    {% if not authenticated %}<a href="?action=login">Login</a>{% endif %}
{% endblock %}

{% block body %}
    <table>
        <tr>
            <td>title</td>
            <td>author</td>
            <td>type</td>
            <td>note</td>
            <td>finished date</td>
        </tr>

        {% if authenticated %}
            {% include 'new.html.twig' %}
        {% endif %}

        {% for book in books %}
            <tr class="{{ book.finished_at ? 'done' : 'reading' }}">
                <td>
                    <a href="?slug={{ book.slug }}&action={{ authenticated ? 'edit' : 'show' }}" class="book-title"><strong>{{ book.title }}</strong></a>
                </td>

                <td>
                    <strong>{{ book.author }}</strong>
                </td>

                <td><span class="{{ book.type }}">{{ book.type }}</span></td>
                <td>{{ book.note }}</td>
                <td>{{ book.finished_at ? book.finished_at|date('Y⋅m⋅d') : 'currently reading' }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
