{% extends 'base.html.twig' %}

{% block nav %}
    {{ parent() }}
    <div><a href="..">&lt;&lt; back </a></div>
{% endblock %}

{% block title %}📖 {{ book.title }}{% endblock %}

{% block body %}
    <p>
        By: <strong>{{ book.author }}</strong>
    </p>
    <p>
        Type: <strong>{{ book.type }}</strong>
    </p>
    <p>
        Note: <strong>{{ book.note }}</strong>
    </p>
    <p>
        Finished at: <strong>{{ book.finished_at ? book.finished_at|date('Y⋅m⋅d') : 'currently reading' }}</strong>
    </p>
    {% if not book.private_summary %}
        <hr>
        <p id="summary">
            {{ book.summary|replace({'\n': '<br>'})|raw }}
        </p>
    {% endif %}
{% endblock %}
